
.security-btn{
  position:relative;
  right:0;
  min-width:95px;
  color:#fff;
  border:10px solid #205b8d;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:43px;
  background: orange;
  margin: 0;
  position: absolute;
  top: 7%;
  left: 80%;
  -ms-transform: translateY(30%);
  transform: translateY(30%);
  -ms-transform: translateX(-200%);
    transform: translateX(-200%);

  }

  .security-btn-ml-1{
    position:relative;
    right:0;
    min-width:95px;
    color:#fff;
    border:10px solid #8feb18;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:43px;
    background: orange;
    margin: 0;
    position: absolute;
    top: 5%;
    left: 80%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);


    }

.login-status-header{
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex
}

.login-status-user-info{
  line-height:43px;
  border:1px;
  padding:0 17px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  -webkit-transition:all .5s ease;
  -o-transition:all .5s ease;
  -moz-transition:all .5s ease;
  transition:all .5s ease
}
